<div class="row mb-3">
  <h1>Showing article details</h1>
</div>

<div class="row">
  <%= time_ago_in_words(@article.created_at) %> ago
</div>

<div class="row">
  <h5><strong>Title: </strong><%= @article.title %></h5>
</div>

<div class="row">
  <h5><strong>Description: </strong><%= @article.description %></h5>
</div>

<div class="row">
  <p><strong>By:</strong> <%= @article.user.username if @article.user %></p>
</div>

<div class="row">
  <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
    <%= link_to 'Edit', edit_article_path(@article) %> -
    <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %> -
  <% end %>
  <%= link_to 'Return to article listing', articles_path %>
</div>
